.section-subscribe {
  background: #171717;
  border-radius: 20px 20px 0 0;
  color: #fff;
  overflow: hidden;

  .hidden-title {
    color: rgba(0, 0, 0, .3);
  }

  header {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-left: -100px;

    @media #{$M-sm} {
      display: none;
    }

    .logo {
      font-size: 22px;

      @media #{$M-sm} {
        font-weight: bold;
        color: #000;
      }
    }

    .navigation {
      margin-left: auto;
    }
    ul {
      display: flex;

      @media #{$M-sm} {
        flex-direction: column;
        align-items: center;
      }

      li {
        &:not(:last-child) {
          margin-right: 2.95vw;

          @media #{$M-sm} {
            margin-right: 0;
          }
        }
        a {
          color: #fff;
          text-transform: uppercase;
          font-size: 12px;
          text-decoration: none;
          text-align: center;

          &:hover {
            text-decoration: underline;
          }

          @media #{$M-sm} {
            font-size: 4vh;
            line-height: 1.5;
            color: #000;
          }
        }
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;

    @media #{$M-sm} {
      display: flex;
      flex-direction: column;
    }
  }

  .subscribe-title {
    display: flex;
    align-items: center;
    margin: 100px 0 120px;

    @media #{$M-sm} {
      margin: 20px 0 25px;
      flex-wrap: wrap;
    }

    h2 {
      flex-basis: 60%;
      @media #{$M-sm} {
        flex-basis: 100%;
        margin-top: -30px;
      }
    }

    p {
      color: $grey;
      margin-left: 10vw;

      @media #{$M-sm} {
        margin-left: 0;
      }
    }
  }

  #results {
    margin-bottom: 20px;
    text-transform: uppercase;

    &.error {
      color: $red-main;
    }
  }

  .input-wrap {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 110px;

    @media #{$M-sm} {
      margin-bottom: 20px;
    }

    &:before {
      content: '';
      background: url('./../assets/svg/email.svg');
      width: 17px;
      height: 14px;
      display: block;
      margin-right: 20px;
    }

    input[type=email] {
      flex-grow: 1;
      margin-right: 20px;
      background: none;
      border: none;
      font-size: 16px;
      color: #fff;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #808389;
      }
    }

    button {
      @media #{$M-xs} {
        padding: 7px 10px;
      }
    }
  }

  .copyright {
    display: flex;
    color: rgba($grey, .5);
    margin: 0 -15px;


    span {
      padding: 0 15px;
    }

    @media #{$M-sm} {
      font-size: 12px;
      text-align: center;
    }

    @media #{$M-sm} {
      flex-wrap: wrap;
      order: 1;

      span {
        flex-basis: 100%;
        margin-bottom: 20px;
      }
    }

    span:first-child {
      margin-right: auto;
    }

    .social-links {
      display: flex;
      margin-left: auto;

      @media #{$M-sm} {
        margin-right: auto;
      }

      li {
        display: flex;
        align-items: center;

        a {
          display: flex;
          align-items: center;

          svg {
            width: 20px;
            height: 16px;
            transition: fill .2s ease;
            fill: $grey;
          }

          &:hover {
            svg {
              fill: #fff;
            }
          }
        }

        & + li {
          margin-left: 20px;
        }
      }
    }
  }

  .back-to-top {
    color: $grey;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    transform: rotate(-90deg);
    text-decoration: none;
    position: relative;
    transform-origin: left;
    margin-left: -100px;
    z-index: 2;

    @media #{$M-sm} {
      transform: none;
      margin: 30px auto 20px;
      display: block;
      text-align: center;
    }

    &:before {
      content: '';
      width: 11px;
      height: 6px;
      background: url('./../assets/svg/arrow-top.svg') no-repeat center center;
      display: block;
      position: absolute;
      right: -30px;
      transform: rotate(90deg);
      top: 3px;

      @media #{$M-sm} {
        right: 50%;
        transform: translateX(50%);
        top: -20px;
      }
    }
  }
}