.section-partners {
  border-top: 1px solid rgba(#979797, .3);
  overflow: hidden;
  border-radius: 0 0 20px 20px;

  .hidden-title {
    line-height: .7;
    top: 0;
  }

  .partners-list {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    li {
      flex-basis: 33.3333%;
      margin-bottom: 70px;
      display: flex;
      align-items: center;
      padding: 0 15px;

      @media #{$M-xs} {
        flex-basis: 50%;
        justify-content: center;
        flex-grow: 1;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}