$red: #FF4A15;
$red-2: #C72D00;
$red-main: #FF2800;
$red-gradient: linear-gradient(to right, #FF0000, #C72D00);
$red-gradient-2: linear-gradient(to right, #FF4A15, #FF0000);
$main-bg: rgb(245,243,240);

$grey: #808389;
$green : #059C5E;

$M-sm: screen and (max-width: 1023px);
$M-xs: screen and (max-width: 767px);
$M-xs-landscape: screen and (max-width: 767px) and (orientation: landscape);