@font-face {
  font-family: 'gt_cinetype';
  src: url('../fonts/gt-cinetype-bold-italic-webfont.woff2') format('woff2'),
  url('../fonts/gt-cinetype-bold-italic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;

}

@font-face {
  font-family: 'gt_cinetype';
  src: url('../fonts/gt-cinetype-bold-webfont.woff2') format('woff2'),
  url('../fonts/gt-cinetype-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'gt_cinetype';
  src: url('../fonts/gt-cinetype-light-italic-webfont.woff2') format('woff2'),
  url('../fonts/gt-cinetype-light-italic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;

}

@font-face {
  font-family: 'gt_cinetype';
  src: url('../fonts/gt-cinetype-light-webfont.woff2') format('woff2'),
  url('../fonts/gt-cinetype-light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;

}

@font-face {
  font-family: 'gt_cinetype';
  src: url('../fonts/gt-cinetype-mono-webfont.woff2') format('woff2'),
  url('../fonts/gt-cinetype-mono-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'gt_cinetype';
  src: url('../fonts/gt-cinetype-regular-italic-webfont.woff2') format('woff2'),
  url('../fonts/gt-cinetype-regular-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'gt_cinetype';
  src: url('../fonts/gt-cinetype-regular-webfont.woff2') format('woff2'),
  url('../fonts/gt-cinetype-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}